.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.cart-btn {
  cursor: pointer;
  outline: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

.cart-widget {
  width: 1.5rem;
  height: 1.5rem;
}
.landing {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-wrap{
	margin-bottom: 40px;
	-webkit-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
	box-shadow: 0px 5px 12px -1px rgba(0,0,0,0.06);
}
	.card-photo{
		width: 100%;
		height: 220px;
	}
	.text{
		border-top: none;
		padding: 20px 30px 30px;
  }
		h2{
			font-size: 20px;
			font-weight: 500;
			
		}
		span.cat{
			font-weight: 400;
			color: rgba(0,0,0,.2);
			display: block;
			margin-bottom: 0;
		}
		p.d-block{
			width: 100%;	
		}
