
cart-btn {

  cursor: pointer;
  outline: inherit;
  width: 1.5rem;
  height: 1.5rem;
}

.cart-widget {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  font-size: 0.6rem;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  color: white;
  display: inline-block;
  cursor: pointer;
}
.landing {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
